#cover::before {
    content: "";
    background: url(https://intern.bekk.no/Forside/Content/img/logo.svg) no-repeat;
    height: 13px;
    width: 55px;
    background-size: auto 100%;
    position: absolute;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
}

#cover h1 {
  text-align: center;
  font-size: 34px;
  margin-top: 240px;
}

#cover h2 {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  margin-top: 30px;
}

.bekk-separator {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background: $red;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}


ul.bekk-img-list {
  text-align: center;
}

ul.bekk-img-list li::before {
  content: "";
}

ul.bekk-img-list li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  text-indent: 0;
}

ul.bekk-img-list img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

ul.bekk-img-list figcaption {
  font-family: Georgia, Serif;
  font-size: 18px;
  text-transform: uppercase;
}


h3 {
  position: relative;
  top: -40px;
  overflow: hidden;
  text-transform: uppercase;
  font-style: italic;
}

h3::before {
  margin-right: 100px;
}

h3::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  margin-left: 20px;
  height: 1px;
  width: 100%;
  background: #fff;
}
